version: "3.6"

services:
  harvest_tweets_streaming:
    build: ./harvest-tweets-streaming
    image: 127.0.0.1:5000/harvest-tweets-streaming
    networks:
      - backend
    depends_on:
      - rabbitmq
    environment:
      - RABBITMQ_USER=rabbitmq
      - RABBITMQ_PASS=jerseygrapefruitpetrolcalcium
      - PYTHONUNBUFFERED=1

  remove_duplicate_tweets:
    build: ./remove-duplicate-tweets
    image: 127.0.0.1:5000/remove-duplicate-tweets
    networks:
      - backend
    depends_on:
      - rabbitmq
    environment:
      - RABBITMQ_USER=rabbitmq
      - RABBITMQ_PASS=jerseygrapefruitpetrolcalcium
      - COUCHDB_USER=admin
      - COUCHDB_PASSWORD=admin
      - PYTHONUNBUFFERED=1

  rabbitmq:
    image: 127.0.0.1:5000/rabbitmq:3-management-alpine
    networks:
      - backend
    ports:
      - "15672:15672"
    environment:
      - RABBITMQ_ERLANG_COOKIE=QYJHJRUWSOCYIBEGEQJI
      - RABBITMQ_DEFAULT_USER=rabbitmq
      - RABBITMQ_DEFAULT_PASS=jerseygrapefruitpetrolcalcium

  api_server:
    build: ./api-server
    image: 127.0.0.1:5000/api-server
    deploy:
      replicas: 3
    networks:
      - backend
      - frontend
    ports:
      - "3000:3000"
    environment:
      - DEBUG=*
      - NODE_ENV=production
      - COUCHDB_USER=admin
      - COUCHDB_PASSWORD=admin

networks:
  backend:
    external: true
  frontend:
    driver: overlay